
<div class="container">
  <table class="table table-bordered">
    <tr>
      <th>Buttons</th>
      <th>No</th>
      <th>Name</th>
      <th>Sirname</th>
      <th>Age</th>
      <th>Image</th>
    </tr>

    <tr *ngFor="let u of users,let i = index">
      <td>
        <button>Edit</button>
        <button class="btn btn-outline-danger" (click)="delete(u.id)">Delete</button>
      </td>
      <td>{{i+1}}</td>
      <td>{{u.name}}</td>
      <td>{{u.sirname}}</td>
      <td>{{u.age}}</td>
      <td><img src="{{u.avatar}}" class="img-fluid" alt=""></td>
    </tr>
  </table>

</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <table class="table table-bordered">
        <tr *ngFor="let u1 of users;let i = index">
          <td>
            <img src="{{u1.avatar}}" class="img-thumbnail" alt="kjhkkh">
            <h3>{{u1.name + " " + u1.sirname}}</h3>
            <h4>{{u1.age}}</h4>
            <h4>{{u1.education}}</h4>
        </td>
        </tr>
      </table>
    </div>

    <div class="col-lg-4">
      <table  class="table table-bordered">
        <tr *ngFor="let u of users">
          <td>
            <img src="{{u.avatar}}" class="img-thumbnail" alt="">
            <h3><td>{{u.name + " " + u.sirname}}</td></h3>
            <h4><td>{{u.age}}</td></h4>
            <h4><td>{{u.education}}</td></h4>
          </td>
        </tr>
      </table>
    </div>

    <div class="col-lg-4">
      <table  class="table table-bordered">
        <tr *ngFor="let u of users">
          <td>
            <img src="{{u.avatar}}" class="img-thumbnail" alt="">
            <h3>{{u.name + " " + u.sirname}}</h3>
            <h4>{{u.age}}</h4>
            <h4>{{u.education}}</h4>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
